body{
	background-color: #42f4d4;
	text-align:center;
}

p{
	width:80%;
	margin-left:auto;
	margin-right:auto;
	font-size:60px;
	color:white;
}

#madButton
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	color: #53f442;
	font-size: 40px;
	width: 35%;
	font-family: 'Shrikhand', cursive;
	margin-top: auto;
	border-radius:5px;

}

#findMadLib
{

	padding-top: 2%;
	font-size: 30px;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	color: white;
	font-family: 'Acme', sans-serif;

}

.c {
	color: #f442a7;
	font-size: 36px;
	background-color: yellow;
	font-weight: bolder;
	border-radius: 5px;
}